{% extends 'base.html' %}

{% block content %}
<div class="form1">
    <div class="card">
        <form action="" method="post" novalidate>
            <h1>Register</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32,id="data",placeholder='username') }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64,id="data",placeholder='email') }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32,id="data",placeholder='password') }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32,id="data",placeholder="confirm password") }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(id="submit") }}</p>
        </form>
    </div>
</div>
{% endblock %}